.middle_div_icon_list {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background: #222;
  padding: 1.5rem;

  overflow-y: scroll;
  overflow-x: hidden;
}

.middle_div_icon_list > img {
  width: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
  outline: 0;
}

.border_black {
  border: 5px solid #0000;
}

.border_blue {
  border: 5px solid #2e81f5;
}
